:root {
  /* colors */
  --main-white: #fff;
  --main-black: #000;
  --main-red: #f70115;
  --main-gray: #9c9a9a;
  --main-blue: #017df2;
  --disabled-text: rgba(255, 255, 255, 0.56);
  --disabled-bg: rgba(255, 255, 255, 0.36);
  --main-bg: #000430;
  --border-color: #f7f7f9;

  --mantine-spacing-md: 0;
  --mantine-radius-default: 0;
  --mantine-color-gray-0: transparent;
  --mantine-color-white: #000430 !important;
}
