.page {
  height: 100vh;
  padding: 2rem 1rem 1.5rem;
  background-color: var(--main-bg);
  background-image: url("../../../../public/img/lk-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}
