.container {
  position: relative;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.video::-webkit-media-controls {
  display: none;
}
