.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Rubik";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--main-white);
}

.modal {
}
