.root {
  width: 100%;
}

.input {
  background-color: rgba(247, 247, 249, 0.2);
  border: none;
  color: var(--main-white);
  height: 3rem;

  font-size: 1rem;
  font-family: Roboto;
  line-height: 120%;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
