.container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 300px;
}

.container iframe,
.container object,
.container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
