.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rank {
  font-family: Roboto;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

.video {
  width: 4rem;
  height: 4rem;
  border-radius: 2px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nameWrapper {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.nameWrapper > span {
  font-family: ttsquare;
  font-size: 1rem;
  line-height: 110%;
  color: #fff;
  opacity: 0.5;
}

.name {
  font-family: ttsquare;
  font-size: 1rem;
  line-height: 110%;
  color: #fff;
}

.result {
  display: flex;
  gap: 0.5rem;
}

.resultKey,
.detailsKey {
  font-family: Roboto;
  font-size: 1rem;
  line-height: 120%;
  color: #fff;
  opacity: 0.5;
}

.resultValue,
.detailsValue {
  font-family: Roboto;
  font-size: 1rem;
  line-height: 120%;
  color: #fff;
}

.detailsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.25rem;
}
